@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




@font-face
{
    font-family: 'Chillax';
    src: url('../assets/fonts/Chillax-Extralight.woff2') format('woff2'),
        url('../assets/fonts/Chillax-Extralight.woff') format('woff'),
        url('../assets/fonts/Chillax-Extralight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}


@font-face
{
    font-family: 'Chillax';
    src: url('../assets/fonts/Chillax-Light.woff2') format('woff2'),
        url('../assets/fonts/Chillax-Light.woff') format('woff'),
        url('../assets/fonts/Chillax-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face
{
    font-family: 'Chillax';
    src: url('../assets/fonts/Chillax-Regular.woff2') format('woff2'),
        url('../assets/fonts/Chillax-Regular.woff') format('woff'),
        url('../assets/fonts/Chillax-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face
{
    font-family: 'Chillax';
    src: url('../assets/fonts/Chillax-Medium.woff2') format('woff2'),
        url('../assets/fonts/Chillax-Medium.woff') format('woff'),
        url('../assets/fonts/Chillax-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face
{
    font-family: 'Chillax';
    src: url('../assets/fonts/Chillax-Semibold.woff2') format('woff2'),
        url('../assets/fonts/Chillax-Semibold.woff') format('woff'),
        url('../assets/fonts/Chillax-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}


@font-face
{
    font-family: 'Chillax';
    src: url('../assets/fonts/Chillax-Bold.woff2') format('woff2'),
        url('../assets/fonts/Chillax-Bold.woff') format('woff'),
        url('../assets/fonts/Chillax-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

*,
*::after,
*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --primary-dark: #A8CD19;
    --primary-light: #D2ED69;
    --white: #ffffff;
    --gray: #999999;
    --black-0: #000000;
    --black-9: #161616;
    --black-12: #1F1F1F;
    --black-20: #333333;
    --black-50: #666666;
    --borderColor: #4D4D4D;
    --lightBorder: #B3B3B3;

    --aboutBlue: #2B6984;
    --showcaseGreen: #ABBA58;
    --contactRoman: #d66b58;

    --clipX: 50%;
    --clipY: 50%;
}

*::selection
{
    background: var(--primary-dark);
    color: var(--white);
}


html
{
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    scroll-behavior: auto;
    /* will-change: transform; */

}

html::-webkit-scrollbar
{
    display: none;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track
{
    background: transparent;
}

::-webkit-scrollbar-thumb:hover
{
    background: transparent;
}


body
{
    overflow-x: hidden;
    font-family: 'Chillax';
    min-height: 100dvh;
    /* will-change: transform; */
}

a
{
    color: inherit;
    text-decoration: inherit;
}

.cursor
{
    opacity: 1;
    pointer-events: none;
    position: fixed;
    z-index: 200;
    transform: translate3d(calc(var(--x)*1px), calc(var(--y)*1px), 0);
    transform-origin: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.cursor-circle
{
    align-items: center;
    background: var(--primary-dark);
    border-radius: 100px;
    display: flex;
    height: 1.042vw;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
    width: 1.042vw;
    position: relative;
    will-change: transform, width;
    z-index: 50;
    translate: none;
    rotate: none;
    scale: none;
    transform: translate(-50%, -50%);
    opacity: 1;
}

/*=============================================
=            Utilities            =
=============================================*/
.d-none
{
    display: none;
}

.overflow-hidden
{
    overflow: hidden;
}

.flex
{
    display: flex;
}

.items-center
{
    align-items: center;
}

.items-start
{
    align-items: flex-start;
}

.items-end
{
    align-items: flex-end;
}

.justify-start
{
    justify-content: flex-start;
}

.justify-center
{
    justify-content: center;
}

.justify-end
{
    justify-content: flex-end;
}

.justify-between
{
    justify-content: space-between;
}

.justify-around
{
    justify-content: space-around;
}

.justify-evenly
{
    justify-content: space-evenly;
}

/*=====  End of Utilities  ======*/





/*=============================================
=            Typography            =
=============================================*/

.font-chill
{
    font-family: 'Chillax';
}

.font-bebas
{
    font-family: 'Bebas Neue', 'cursive';
}


.heading-1
{
    /* font-size: clamp(98px, 198px, 10.313vw); */
    font-size: min(20.41vh, 10.31vw);
    line-height: 1;
    color: var(--black-20);
}

.heading-1 .letter
{
    display: inline-flex;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform 0s;

}

.heading-1.char .letter
{
    transition: transform .75s cubic-bezier(.215, .61, .355, 1) calc(var(--index)*0.075s + var(--delay)*1s);
    transform: scaleY(1);
}

.subtitle
{
    /* font-size: clamp(32px, 50px, 2.60vw); */
    font-size: min(5.15vh, 2.604vw);
    line-height: 1.375;
}

.p-xxl
{
    /* 34px */
    font-size: min(3.505vh, 1.770vw);
    line-height: 1.2;

}

.p-xl
{
    /* font-size: clamp(18px, 28px, 1.458vw); */
    font-size: min(2.88vh, 1.45vw);
    line-height: 1.5;
}

.p-lg
{
    font-size: min(3.29vh, 1.66vw);
    line-height: 1;
}

.p-md
{
    /* font-size: clamp(16px, 24px, 1.250vw); */
    font-size: min(2.47vh, 1.25vw);
    line-height: normal;
}

.p-reg
{
    font-size: min(1.64vh, 0.83vw);
}

/*=====  End of Typography  ======*/



/*=============================================
=            Bands            =
=============================================*/

.bands
{
    height: 100svh;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 20;
    will-change: transform;
    gap: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
}

.bands .band
{
    width: 100px;
    /* NOTE: If you are changing the width of the band, remember to keep the gap of .wrapper the same as this value. */
    background: var(--white);
    height: 100svh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-block: 48px;
    transform: translateX(0);
    outline: 1px solid var(--lightBorder);
    cursor: pointer;
    pointer-events: auto;
    will-change: transform;
}

.bands .band .band-content
{
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: var(--black-20);
}

.bands .band .band-content.bottom
{
    transform: rotate(-90deg) translateX(50%);
}

/*=====  End of Bands  ======*/



/*=============================================
=            Wrapper            =
=============================================*/
.wrapper
{
    width: max-content;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 100px;
    will-change: transform;
    /* NOTE: If you are changing the gap of the wrapper, remember to keep the width of .band the same as this value. */
}

/*=====  End of Wrapper  ======*/



/*=============================================
=            Section            =
=============================================*/

.section
{
    height: 100svh;
    position: relative;
    transition: all 0.4s;
    background: var(--white);
}

/*=====  End of Section  ======*/



/*=============================================
=            Header            =
=============================================*/
.mobile-header
{
    display: none;
}

.header-wrapper
{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

header
{
    padding-inline: min(80px, 4.167vw);
    padding-block: min(40px, 4.123vh);

}

.header-with-bg
{
    background: var(--white);
    border-bottom: 1px solid var(--lightBorder);
}

header.header
{
    background: transparent;
    border: none;
}

.site-logo
{
    /* font-size: clamp(28px, 32px, 1.667vw); */
    font-size: min(3.29vh, 1.667vw);
    font-weight: 700;
    color: var(--black-20);

}

.site-logo.logo-colored
{
    color: var(--primary-dark);
}

header nav .nav-link
{
    font-weight: 500;
    color: var(--black-20);
    text-decoration: none;
    margin-left: clamp(24px, 99px, 5.156vw);
    transition: all 0.4s ease-in-out;
}

/*=====  End of Header  ======*/



/*=============================================
=            Bg Blob            =
=============================================*/

.bg-blob
{
    position: absolute;
    width: 80%;
    height: 80%;
    filter: blur(250px);
    -webkit-filter: blur(250px);
    opacity: 0.1;
    background: var(--primary-dark);
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
}

/*=====  End of Bg Blob  ======*/


/*=============================================
=            Scroll Indicator            =
=============================================*/

.scroll-indicator
{
    position: absolute;
    bottom: 10%;
    right: 128px;
    width: fit-content;
    height: fit-content;
}

.scroll-indicator>a
{
    display: block;
    position: relative;
    width: 2.5vw;
    height: 1.458vw;
    border-radius: 100px;
    border: 0.110vw solid var(--borderColor);
}

.scroll-indicator>a>*
{
    pointer-events: none;
}

.scroll-indicator>a>span
{
    width: 0.521vw;
    height: 0.521vw;
    position: absolute;
    border-radius: 100%;
    /* border: 3px solid var(--primary-dark); */
    border: 0.156vw solid var(--primary-dark);
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    animation: rightPull 1s ease 1s infinite;
}

.scroll-indicator>a>svg
{
    width: 1.042vw;
    height: 0.625vw;
}

@keyframes rightPull
{

    0%,
    100%
    {
        transform: translate(100%, -50%);
    }

    50%
    {
        transform: translate(0%, -50%);
    }
}

.scroll-indicator>a>svg
{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    animation: rightPull 1s ease 1s infinite;

}

/*=====  End of Scroll Indicator  ======*/






/*=============================================
=            Intro section            =
=============================================*/
.intro-main
{
    height: calc(100svh - 130px);
}

.intro-main .intro-img
{
    width: min(684px, 30vw);
    width: 35.625vw;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.intro-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition-duration: 500ms;

}

.intro-img img:hover
{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transform: scale(1.05);
}

.intro-main .intro-content-wrapper
{
    width: 60%;
    position: relative;
}

.spinner
{
    position: absolute;
    top: 10%;
    right: 5%;
    width: 5.885vw;
    height: 5.885vw;
    animation: spin 8s linear infinite;
}



@keyframes spin
{
    to
    {
        transform: rotate(-360deg);
    }
}

.intro-content
{
    padding-top: clamp(30px, 60px, 3.125vw);
    padding-left: clamp(30px, 60px, 3.125vw);
}

.intro-content .intro-heading
{
    position: relative;
    margin-bottom: 24px;
    font-weight: 700;
    color: var(--black-20);
}

.intro-content .intro-heading::after
{
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    max-width: 343px;
    background: var(--primary-dark);
    bottom: -6px;
    left: 0;
}

.intro-content .intro-subheading
{
    margin-bottom: 10px;
}

.intro-content .intro-subheading p
{
    font-weight: 400;
    color: var(--black-20);
}

.intro-content .intro-desc p
{
    font-weight: 400;
    color: var(--black-50);
    max-width: 70%;
}

/*=====  End of Intro section  ======*/






/*=============================================
=            About section            =
=============================================*/

.about-main
{
    height: 100svh;
}

.about-img
{
    /* width: min(796px, 40vw); */
    width: 41.458vw;
}

.about-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-content-wrapper
{
    min-width: 60vw;
    position: relative;
    height: 100svh;
}

.about-content
{
    /* padding-top: clamp(60px, 120px, 6.250vw); */
    padding-top: 6.25vw;
    padding-left: clamp(30px, 60px, 3.125vw);
}

.about-content-header
{
    /* margin-bottom: 56px; */
    margin-bottom: 2.917vw;
    width: fit-content;
}

.about-title
{
    position: relative;
    margin-bottom: 1.563vw;
    width: fit-content;
    font-weight: 700;
    color: var(--black-20);
}

.about-content-header p
{
    font-weight: 400;
    /* max-width: 700px; */
    max-width: 36.458vw;
    color: var(--black-50);

}


.skills-group
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.042vw;
    /* max-width: 700px; */
    max-width: 36.458vw;
    margin-bottom: 40px;
}

.skills-group .single-skill
{
    display: block;
    padding: 16px 32px;
    border-radius: 100px;
    border: 0.052vw solid var(--lightBorder);
    font-weight: 400;
    color: var(--black-20);
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    --clipX: 50%;
    --clipY: 50%;
    /* transition: all 0.5s ease-in-out; */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.skills-group .single-skill:hover
{
    --clipX: 0%;
    --clipY: 0%;
}

.skills-group .single-skill::before
{
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border: 2px solid var(--primary-dark);
    border-radius: 100px;
    -webkit-clip-path: inset(0 var(--clipX) 0 var(--clipY));
    clip-path: inset(0 var(--clipX) 0 var(--clipY));
    transition: -webkit-clip-path .4s;
    transition: clip-path .4s;
    transition: clip-path .4s, -webkit-clip-path .4s;
}



.skills-group .single-skill span
{
    position: relative;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}






/*=====  End of About section  ======*/




/*=============================================
=            Showcase section            =
=============================================*/

.showcase-main
{
    /* padding-top: clamp(60px, 120px, 6.250vw); */
    padding-top: min(13.11vh, 6.25vw);
    padding-inline: clamp(40px, 80px, 4.167vw);
}

.showcase-heading
{
    /* margin-bottom: 20px; */
    margin-bottom: 1.042vw;
    /* width: fit-content; */
    width: 100%;

}

.showcase-heading h2
{
    font-weight: 700;
    color: var(--black-20);
    position: relative;
    width: fit-content;
}

.showcase-slider
{
    gap: min(8.49vh, 6.66vh);
}

.showcase-slider .slide-group
{
    padding-left: 60px;
    gap: min(3.49vh, 1.66vh);
    position: relative;
    will-change: transform;
}

.showcase-slider .slide-group .slide-group-title
{
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left center;
    bottom: 0;
    z-index: 2;
    left: 20px;
}

.showcase-slider .slide-group .slide-group-title .subtitle
{
    color: var(--black-50);
    line-height: 1;
}

.showcase-slider .slide-group .showcase-slide
{
    background: var(--primary-dark);
    will-change: transform;
    max-width: 37.5vw;
    object-fit: cover;
    aspect-ratio: 16/9;
    overflow: hidden;
}

.showcase-slider .slide-group .showcase-slide .showcase-img
{
    display: block;
    /* height: min(55.39vh, 25.875vw); */
    height: 100%;
    width: 100%;
    will-change: transform;
}


.showcase-slider .slide-group .showcase-slide .showcase-img img
{
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: cover;
    transform: scale(1.5);
    will-change: transform;
}





.showcase-nav-wrapper
{
    /* margin-top: 80px; */
    padding-left: clamp(40px, 80px, 4.167vw);
    position: absolute;
    left: 0;
    bottom: 9%;
    width: 100%;
}

.showcase-nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 8px;
    gap: 16px;
    border-radius: 70px;
    background: var(--black-0);
    z-index: 10;
}

.showcase-nav .showcase-nav-link
{
    display: inline-block;
    padding: 8px 12px;
    border-radius: 60px;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
}

.showcase-nav .showcase-nav-link span
{
    display: block;
    position: relative;
    z-index: 1;
}

.showcase-nav .showcase-nav-link::before
{
    content: '';
    position: absolute;
    right: 0;
    left: auto;
    bottom: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: 0;
    transform-origin: left;
    transition-duration: 500ms;
    background: var(--primary-dark);
    border-radius: 60px;
}

.showcase-nav .showcase-nav-link.showcase-nav__active::before
{
    left: 0;
    right: auto;
    width: 100%;
}

.showcase-nav .showcase-nav-link.showcase-nav__active
{
    /* background: var(--primary-dark); */
    color: var(--black-0);
}

/*=====  End of Showcase section  ======*/





/*=============================================
=            Contact section            =
=============================================*/
/* .contact-section .nav-link
{
    color: var(--white);

} */

.contact-main
{
    position: relative;
    height: 100svh;
}

.contact-content-left
{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;
    padding-top: clamp(60px, 120px, 6.250vw);
    padding-bottom: clamp(28px, 48px, 2.5vw);
    padding-left: clamp(30px, 60px, 3.125vw);
}

.contact-content-left .contact-heading
{
    margin-bottom: min(7.01vh, 3.54vw);
    position: relative;
    font-weight: 700;
    color: var(--black-20);
}

.contact-msg a,
.contact-msg p
{
    display: block;
    width: fit-content;
    position: relative;
}

.contact-msg a::after
{
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0%;
    height: 2px;
    transition-duration: 500ms;
}

.contact-msg a:hover::after
{
    width: 100%;
    left: 0;
    right: unset;
}

.contact-msg p
{
    margin-bottom: 5px;
    color: var(--primary-dark);
    font-weight: 400;
}

.contact-msg a:last-child
{
    font-weight: 600;
    color: var(--borderColor);

}

.contact-msg a:first-child::after
{
    background: var(--primary-dark);
}

.contact-msg a:last-child::after
{
    background: var(--borderColor);

}

.connect-links
{
    display: flex;
    flex-wrap: wrap;
    /* gap: 16px; */
    gap: 0.833vw;
    /* max-width: 500px; */
    max-width: 30vw;

}

.connect-links .scroll-indicator
{
    position: relative;
    left: unset;
    top: unset;
    right: unset;
    bottom: unset;
    transform: scale(-1);
    display: block;
    margin-left: auto;
}

.connect-links>a
{
    color: var(--gray);
    display: inline-flex;
    align-items: center;
    transition-duration: 500ms;
}

.connect-links>a svg
{
    margin-left: 8px;
    width: 1.25vw;
    height: 1.25vw;
    transition-duration: 500ms;
}

.connect-links>a svg path
{
    transition-duration: 500ms;
}

.connect-links>a:hover
{
    color: var(--primary-dark);
}

.connect-links>a:hover svg path
{
    fill: var(--primary-dark);
}


.contact-img
{
    z-index: 0;
    flex-shrink: 0;
    position: relative;
    left: 15%;
}

.contact-img img
{
    width: 85%;
}

.contact-form-wrapper
{
    /* margin-left: -4%; */
    position: relative;
    overflow: hidden;
    background: #d5d4cf;
    flex-shrink: 0;
    padding-bottom: clamp(28px, 48px, 2.5vw);
    /* max-width: 60vw; */
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    box-shadow: 0 0 0 100px #d5d4cf;
}

.contact-form-wrapper .form-container
{
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    width: 38vw;
}

.contact-form-wrapper .form-title
{
    display: none;
    color: var(--primary-dark);
    font-weight: 500;
    margin-bottom: 30px;
}

.contact-form-wrapper .contact-form>p
{
    color: var(--black-20);
    font-weight: 500;
    line-height: 2;
}

.contact-form-wrapper .contact-form>p .form-input
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contact-form-wrapper .contact-form>p .form-input input
{
    border: none;
    padding-inline: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--black-20);
    display: block;
    background: transparent;
    width: 100%;
    color: var(--primary-dark);
    border-radius: 0;
    transition: all 0.5s ease-in-out;
}

.contact-form-wrapper .contact-form>p .form-input input:focus
{
    outline: none;
    border-bottom: 2px solid var(--primary-dark);
}

.contact-form-wrapper .contact-form>p .form-input input::placeholder
{
    color: var(--lightBorder);
    opacity: 1;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

.contact-form-wrapper .contact-form .submit-btn
{
    margin-top: 10%;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: transparent;
    color: var(--black-20);
    cursor: pointer;
    padding-inline: 5px;
}

.contact-form-wrapper .contact-form .submit-btn::before,
.contact-form-wrapper .contact-form .submit-btn::after
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--black-20);
    transform-origin: right;
    transform: scaleX(1) translateZ(0);
    transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
}

.contact-form-wrapper .contact-form .submit-btn::after
{
    transform-origin: left;
    transform: scaleX(0) translateZ(0);
    transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact-form-wrapper .contact-form .submit-btn:hover::before
{
    transform: scaleX(0) translateZ(0);
    transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact-form-wrapper .contact-form .submit-btn:hover::after
{
    transform: scaleX(1) translateZ(0);
    transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1) .2s;
}

.contact-form-wrapper .contact-form .submit-btn span
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    transform: translateZ(0);
    transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact-form-wrapper .contact-form .submit-btn span::before
{
    content: "";
    background: url('data:image/svg+xml, <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.72692 23.8179C8.90606 23.9971 9.15119 24.1102 9.43403 24.1102L35.8327 24.1102C36.3795 24.1102 36.8321 23.6577 36.8321 23.1108C36.8321 22.564 36.3795 22.1115 35.8327 22.1115L9.43403 22.1115C8.8872 22.1115 8.43465 22.564 8.43465 23.1108C8.43465 23.3937 8.54779 23.6388 8.72692 23.8179Z" fill="%23333333" /><path d="M25.4421 33.5001C25.8287 33.8867 26.4698 33.8867 26.8563 33.5001L36.539 23.8175C36.9255 23.4309 36.9255 22.7898 36.539 22.4032L26.8563 12.7206C26.4698 12.334 25.8287 12.334 25.4421 12.7206C25.0556 13.1071 25.0556 13.7483 25.4421 14.1348L34.4177 23.1104L25.4421 32.0859C25.0556 32.4724 25.0556 33.1136 25.4421 33.5001Z" fill="%23333333" /></svg>') center center/contain no-repeat;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    display: inline-block;
    transform: translateX(-2rem) translateZ(0);
    transition: transform .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contact-form-wrapper .contact-form .submit-btn span::after
{
    content: "";
    background: url('data:image/svg+xml, <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.72692 23.8179C8.90606 23.9971 9.15119 24.1102 9.43403 24.1102L35.8327 24.1102C36.3795 24.1102 36.8321 23.6577 36.8321 23.1108C36.8321 22.564 36.3795 22.1115 35.8327 22.1115L9.43403 22.1115C8.8872 22.1115 8.43465 22.564 8.43465 23.1108C8.43465 23.3937 8.54779 23.6388 8.72692 23.8179Z" fill="%23333333" /><path d="M25.4421 33.5001C25.8287 33.8867 26.4698 33.8867 26.8563 33.5001L36.539 23.8175C36.9255 23.4309 36.9255 22.7898 36.539 22.4032L26.8563 12.7206C26.4698 12.334 25.8287 12.334 25.4421 12.7206C25.0556 13.1071 25.0556 13.7483 25.4421 14.1348L34.4177 23.1104L25.4421 32.0859C25.0556 32.4724 25.0556 33.1136 25.4421 33.5001Z" fill="%23333333" /></svg>') center center/contain no-repeat;
    width: 30px;
    height: 30px;
    margin-left: 36px;
}

.contact-form-wrapper .contact-form .submit-btn:hover span
{
    transform: translateX(2rem) translateZ(0);
}

/*=====  End of Contact section  ======*/




.loader
{
    position: fixed;
    width: 100vw;
    height: 100svh;
    background: transparent;
    z-index: 100;
    /* display: flex;
    align-items: center;
    justify-content: flex-end; */
    background: var(--primary-dark)
}

.circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: var(--primary-light);
    aspect-ratio: 1;
    border-radius: 100%;
}


.outer-circle
{
    z-index: 0;
    width: 90%;
    -webkit-box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.75);
    box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.6);
}

.mid-circle
{
    z-index: 1;
    width: 65%;
    -webkit-box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.3);
    box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.3);
}

.inner-circle
{
    z-index: 2;
    width: 45%;
    -webkit-box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.3);
    box-shadow: inset 10px 10px 50px -25px rgba(0, 0, 0, 0.3);
}

.center-circle
{
    z-index: 3;
    width: 25%;
    -webkit-box-shadow: inset 0px 0px 50px -25px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 0px 50px -25px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 50px -25px rgba(0, 0, 0, 0.4);
}

.loading-text
{
    font-weight: 700;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    z-index: 4;
}



@media(max-width:1199px)
{

    /*=============================================
    =            Contact            =
    =============================================*/

    .contact-form-wrapper .form-container
    {
        width: 50vw;
    }

    /*=====  End of Contact  ======*/
}

@media (max-width: 991px)
{
    html.lenis
    {
        height: auto;
    }

    .lenis.lenis-smooth
    {
        scroll-behavior: auto !important;
    }

    .lenis.lenis-smooth [data-lenis-prevent]
    {
        overscroll-behavior: contain;
    }

    .lenis.lenis-stopped
    {
        overflow: hidden;
    }

    .lenis.lenis-scrolling iframe
    {
        pointer-events: none;
    }


    /*=============================================
    =            utils            =
    =============================================*/

    .section
    {
        height: auto;
    }

    .scroll-indicator
    {
        display: none !important;
    }

    .cursor
    {
        display: none;
    }

    /*=====  End of utils  ======*/





    /*=============================================
    =            typography            =
    =============================================*/
    .p-xl
    {
        font-size: clamp(18px, 28px, 1.458vw);
        line-height: 1.5;
    }

    .p-md
    {
        font-size: max(14px, 1.5vw);
    }

    .p-reg
    {
        font-size: max(12px, 1.5vw);
    }

    /*=====  End of typography  ======*/



    /*=============================================
    =            Wrapper            =
    =============================================*/

    .wrapper
    {
        width: unset;
        display: block;
    }

    /*=====  End of Wrapper  ======*/






    /*=============================================
    =            Bands            =
    =============================================*/

    .bands
    {
        display: none;
    }

    /*=====  End of Bands  ======*/



    /*=============================================
    =            header            =
    =============================================*/
    .mobile-header
    {
        display: block;
        padding-block: min(25px, 4.123vh);
        position: fixed;
        z-index: 50;
        width: 100%;
    }

    .header-wrapper
    {
        display: none;
    }

    .wrapper header
    {
        display: none;
    }

    .site-logo
    {
        font-size: clamp(28px, 32px, 1.667vw);
    }

    .mobile-header .menu-toggler
    {
        all: unset;
        backdrop-filter: blur(10px);
        background: var(--black-20);
        border-radius: 100px;
        padding: 6px 12px;
        border: none;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        position: relative;
        z-index: 52;
    }

    .mobile-header .menu-toggler span
    {
        font-weight: 400;
        color: var(--primary-dark);
    }

    /* .mobile-header .menu-toggler .open
    {
        display: none;
    } */

    .mobile-header nav
    {
        transform: translateX(-100%);
        position: fixed;
        width: 100vw;
        height: 100dvh;
        top: 0;
        left: 0;
        /* transition: all 0.3s; */
        /* visibility: hidden; */
        z-index: 51;
        background: var(--primary-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .mobile-header nav .nav-link-wrapper
    {
        width: 100%;
        height: calc(100% / 3);
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--black-20);
    }

    .mobile-header nav .nav-link-wrapper:first-child
    {
        margin-top: 6rem;
        border-top: 1px solid var(--black-20);
    }

    .mobile-header nav .nav-link-wrapper a
    {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        display: block;
        font-size: calc((10.22222vw + 86.66667px));
    }

    .mobile-header nav .nav-link-wrapper a .letter
    {
        display: inline-flex;
        transform-origin: bottom;
        transform: scaleY(0);
        transition: transform .75s cubic-bezier(.215, .61, .355, 1) calc(var(--index)*0.075s + var(--delay)*1s);

    }

    .mobile-header .menu-toggler.active~nav .nav-link-wrapper a.char .letter
    {

        transform: scaleY(1);

    }

    /*=====  End of header  ======*/




    /*=============================================
    =            Intro main            =
    =============================================*/

    .intro-main
    {
        min-height: calc(100svh - 91px);
        display: block;
        height: unset;
    }

    .intro-main .intro-img
    {
        width: 100%;
        position: absolute;
        right: 5%;
        bottom: 15%;
        width: 50%;
        height: 50%;
        background: var(--primary-dark);
    }

    .intro-main .intro-img img
    {
        transition-duration: unset;
    }

    .intro-img img:hover
    {
        transform: scale(1);
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }

    .intro-main .intro-content-wrapper
    {
        width: unset;
    }

    .intro-content .heading-1
    {
        display: inline-block;
    }

    .intro-content h1.heading-1
    {
        margin-right: 20px;
    }

    .intro-content .intro-desc
    {
        max-width: 50%;
    }

    .intro-content .intro-subheading
    {
        margin-top: 20px;
    }

    .intro-content .heading-1
    {
        position: relative;
    }

    .intro-content .heading-1::after
    {
        content: '';
        height: 10px;
        width: 40%;
        max-width: unset;
        left: 0%;
        bottom: -10px;
        position: absolute;
        background: var(--primary-dark);
    }

    .intro-content .intro-heading::after
    {
        display: none;
    }

    /*=====  End of Intro main  ======*/





    /*=============================================
    =            About section            =
    =============================================*/

    .about-section .about-main
    {
        flex-direction: column-reverse;
        height: unset;
    }

    .about-content-wrapper
    {
        height: unset;
    }

    .about-content
    {
        padding-top: clamp(30px, 60px, 3.125vw);
        padding-inline: clamp(30px, 60px, 3.125vw);
    }

    .about-content-header p
    {
        max-width: 700px;
    }

    .skills-group
    {
        max-width: 80%;
        margin-bottom: 8%;
    }

    .skills-group .single-skill
    {
        padding: 8px 22px;
    }


    .about-img
    {
        width: 100%;
    }

    /*=====  End of About section  ======*/



    /*=============================================
    =            Showcase            =
    =============================================*/
    .showcase-section
    {
        /* overflow: visible; */
        display: block;
        height: fit-content;
    }

    .showcase-section .bg-blob
    {
        display: none;
    }

    .showcase-main
    {
        padding-block: min(13.11vh, 6.25vw);
        /* overflow: visible; */
    }

    .showcase-main
    {
        /* padding-top: 0; */
        display: block;
        position: relative;
    }

    .showcase-heading
    {
        margin-bottom: min(13.11vh, 6.25vw);
    }

    .showcase-slider
    {
        display: block;
        overflow: hidden;
        position: relative;
    }

    .showcase-slider .slide-group
    {
        margin-bottom: 20px;
        /* display: block; */
        gap: 20px;
        flex-shrink: 0;
        position: relative;
        width: 100%;
        transition: all 0.4s ease-out;
        padding-left: 0px;
        padding-top: 25px;
        overflow-x: scroll;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }

    .showcase-slider .slide-group::-webkit-scrollbar
    {
        display: none;
    }

    .showcase-slider .slide-group>.showcase-slide
    {
        /* display: block; */
        position: relative;
        flex-shrink: 0;
        max-width: 300px;
        aspect-ratio: unset;
        background: transparent;
    }

    .showcase-slider .slide-group .slide-group-title
    {
        transform: rotate(0deg);
        bottom: unset;
        z-index: 2;
        left: 10px;
        top: 0;
    }

    .showcase-slider .slide-group .showcase-slide .showcase-img img
    {
        width: 100%;
        object-fit: cover;
    }

    #showcase-nav
    {
        display: none;
    }

    /*=====  End of Showcase  ======*/





    /*=============================================
    =            Contact            =
    =============================================*/
    .contact-section
    {
        min-height: 70svh;
    }

    .contact-main
    {
        height: auto;
        display: block;
        padding-top: clamp(60px, 120px, 6.250vw);
        padding-bottom: clamp(28px, 48px, 2.5vw);
        padding-inline: clamp(30px, 60px, 3.125vw);
    }

    .contact-content-left
    {
        width: 100%;
        padding: 0;
    }

    .contact-img
    {
        display: none;
    }

    .contact-form-wrapper .form-title
    {
        display: block;
        margin-bottom: 20px;
    }

    .contact-form-wrapper
    {
        margin-top: 60px;
        background: transparent;
        box-shadow: unset;
    }

    .contact-form-wrapper .form-container
    {
        width: 100%;
    }

    .contact-form-wrapper .contact-form>p
    {
        line-height: 3;
    }

    .contact-form-wrapper .contact-form>p .form-input input::placeholder
    {
        font-size: 14px;
    }



    .connect-links
    {
        margin-top: min(7.01vh, 3.54vw);
        max-width: 500px;
        gap: 16px;
    }

    .connect-links>a svg
    {
        width: 20px;
        height: 20px;
    }

    /*=====  End of Contact  ======*/









}



@media (max-width:768px)
{


    /*=============================================
    =            Contact            =
    =============================================*/

    .connect-links
    {
        max-width: 50%;
    }


    /*=====  End of Contact  ======*/


}


@media(max-width: 576px)
{



    /*=============================================
    =            Typography            =
    =============================================*/
    .subtitle
    {
        font-size: max(14px, 1.5vw);
    }

    .p-xl
    {
        font-size: clamp(14px, 28px, 1.458vw);
    }

    .p-xxl
    {
        font-size: clamp(14px, 3.505vh, 1.770vw);
    }

    /*=====  End of Typography  ======*/





    /*=============================================
    =            intro            =
    =============================================*/

    .intro-content .intro-subheading p br
    {
        display: none;
    }

    .intro-content .intro-desc
    {
        max-width: 100%;
    }

    .intro-content .intro-desc p
    {
        max-width: 80%;
    }

    .intro-main .intro-img
    {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 50%;
        background: var(--primary-dark);
        left: 0;
    }

    .intro-content .heading-1::after
    {
        height: 5px;
        bottom: -5px;
    }

    .intro-content h1.heading-1
    {
        margin-right: 10px;
    }



    .spinner
    {
        width: 60px;
        height: 60px;
    }

    .spinner svg
    {
        width: 60px;
        height: 60px;
    }

    .intro-content .intro-subheading
    {
        margin-top: 10px;
    }



    /*=====  End of intro  ======*/



    /*=============================================
    =            about            =
    =============================================*/

    .about-content-header
    {
        margin-bottom: 26px;
    }

    .skills-group
    {
        gap: 10px;
        max-width: 100%;
    }

    .skills-group .single-skill
    {
        padding: 6px 12px;
        font-size: 14px;
    }


    /*=====  End of about  ======*/




    /*=============================================
    =            showcase            =
    =============================================*/
    .showcase-main
    {
        padding-top: clamp(30px, 60px, 3.125vw);
        padding-inline: clamp(30px, 60px, 3.125vw);
    }

    .showcase-slider .slide-group>.showcase-slide
    {
        max-width: 200px;
    }

    .showcase-slider .slide-group .slide-group-title .subtitle
    {
        font-size: initial;
    }

    .showcase-slider .slide-group
    {
        gap: 10px;
    }

    /*=====  End of showcase  ======*/



    /*=============================================
    =            contact            =
    =============================================*/
    .contact-main
    {
        padding-top: clamp(30px, 60px, 3.125vw);
        padding-inline: clamp(30px, 60px, 3.125vw);
    }

    .connect-links
    {
        max-width: 100%;
    }

    .contact-form-wrapper .form-title
    {
        margin-bottom: 0px;
    }

    .contact-form-wrapper .contact-form>p
    {
        line-height: 2.5;
    }

    .contact-form-wrapper .contact-form .submit-btn span::before
    {
        width: 20px;
        height: 20px;
    }

    .contact-form-wrapper .contact-form .submit-btn span::after
    {
        width: 20px;
        height: 20px;
        margin-left: 16px;
    }

    /*=====  End of contact  ======*/






}